.image-preview {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  .card {
    width: auto;
    height: 130px;
    position: relative;
    margin: 5px;

    img {
      border-radius: 20px;
      border: 3px solid rgba(0, 0, 0, 0.38);
      height: 100%;

      &.main {
        border: 3px solid #85c676;
      }
    }

    .close {
      position: absolute;
      right: 10px;
      top: 5px;
      color: red;
      font-weight: bold;
      cursor: pointer;
      display: none;
    }

    &:hover {
      .close {
        display: block;
      }
    }
  }
  margin-bottom: 20px;
}
.ng-hide{
  display: none;
}


